fastapi
pandas
uvicorn
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
distlib
entrypoints
executing
fastjsonschema
filelock
fonttools
fqdn
greenlet
h11
httptools
idna
imageio
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
joblib
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
mysql-connector-python
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
packaging
pandocfilters
parso
patsy
pickleshare
Pillow
platformdirs
plotly
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
pydantic
Pygments
PyMySQL
pyparsing
pyrsistent
python-dateutil
python-dotenv
python-json-logger
pytz
PyWavelets
PyYAML
pyzmq
QtPy
requests
rfc3339-validator
rfc3986-validator
Send2Trash
six
sniffio
stack-data
statsmodels
tenacity
terminado
threadpoolctl
tifffile
tinycss2
tornado
traitlets
typing_extensions
uri-template
urllib3
virtualenv
wcwidth
webcolors
webencodings
websocket-client
websockets
widgetsnbextension
